.tiptap p.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
  opacity: 0; 
}

.tiptap.ProseMirror-focused p.is-empty::before {
  opacity: 1;
}

.ProseMirror::after,
.tiptap::after {
  content: "";
  display: table;
  clear: both;
}

.column-container-wrapper .column-content-core > div[data-node-view-content-react] {
  display: grid;
  width: 100%;
  gap: 1rem; 
  grid-template-columns: var(--col-left) var(--col-right);
}